ul(id="blog-list")
     
    li
        a(href="/blog/how-to-host-a-game-server-from-your-home-using-playItgg.html") November 2nd 2025 - How to Host a Game Server From Your Home using PlayIt.gg
         
    li
        a(href="/blog/expose-your-home-server-securely-with-cloudflare-tunnels.html") October 31st 2025 - Expose Your Home Server Securely with Cloudflare Tunnels
         
    li
        a(href="/blog/continuous-deployment-made-simple-nodejs-and-github-webhooks.html") September 25th 2025 - Continuous Deployment Made Simple: Node.js + GitHub Webhooks for Automatic Site Updates
         
    li
        a(href="/blog/raspi-streamer-raspberry-pi-streaming-device.html") September 16th 2025 - Raspi-Streamer: A Raspberry Pi streaming device
         
    li
        a(href="/blog/personal-files-backup-with-rsync.html") August 28th 2025 - Personal Files Backups with Rsync
         
    li
        a(href="/blog/macro-keypad-for-shortcuts-and-automations.html") August 25th 2025 - Macro Keypad for shortcuts and scripts
         
    li
        a(href="/blog/how-to-maximize-cloudflare-security-rules.html") August 24th 2025 - How to maximize Cloudflare security rules