ul(id="blog-list-recent")
     
    li
        a(href="/blog/how-to-host-a-game-server-from-your-home-using-playItgg.html") November 2nd 2025 - How to Host a Game Server From Your Home using PlayIt.gg
         
    li
        a(href="/blog/expose-your-home-server-securely-with-cloudflare-tunnels.html") October 31st 2025 - Expose Your Home Server Securely with Cloudflare Tunnels
         
    li
        a(href="/blog/continuous-deployment-made-simple-nodejs-and-github-webhooks.html") September 25th 2025 - Continuous Deployment Made Simple: Node.js + GitHub Webhooks for Automatic Site Updates
         
    li
        a(href="/blog/") All blog posts