ul(id="blog-list-recent")
     
    li
        a(href="/blog/piratebox-offline-file-share-hot-spot-device.html") January 6th 2026 - PirateBox: Offline File Share Hot-Spot Device
         
    li
        a(href="/blog/under-the-stairs-my-2026-homelab-tour.html") January 2nd 2026 - Under the Stairs: My 2026 Homelab Tour
         
    li
        a(href="/blog/building-an-rtmp-camera-with-raspberry-pi-zero-w.html") December 26th 2025 - Building an RTMP Camera with Raspberry Pi Zero W
         
    li
        a(href="/blog/") All blog posts