div(class="mt-3 mb-3")
    input#searchInput.form-control.shadow-sm(type="text", placeholder="Search for blogs...")

script.
    document.getElementById('searchInput').addEventListener('keyup', function() {
        var input, filter, list, items, a, i, txtValue;
        input = document.getElementById('searchInput');
        filter = input.value.toLowerCase();
        list = document.getElementById('blog-list');
        items = list.getElementsByTagName('a');

        for (i = 0; i < items.length; i++) {
            a = items[i];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toLowerCase().indexOf(filter) > -1) {
                items[i].style.display = "";
            } else {
                items[i].style.display = "none";
            }
        }
    });