ul(id="blog-list-recent")
     
    li
        a(href="/blog/continuous-deployment-made-simple-nodejs-and-github-webhooks.html") September 25th 2025 - Continuous Deployment Made Simple: Node.js + GitHub Webhooks for Automatic Site Updates
         
    li
        a(href="/blog/raspi-streamer-raspberry-pi-streaming-device.html") September 16th 2025 - Raspi-Streamer: A Raspberry Pi streaming device
         
    li
        a(href="/blog/personal-files-backup-with-rsync.html") August 28th 2025 - Personal Files Backups with Rsync
         
    li
        a(href="/blog/") All blog posts