ul(id="blog-list-recent")
     
    li
        a(href="/blog/how-to-nuke-your-gmail-and-forward-messages-to-proton.html") June 11th 2026 - How to Nuke Your Gmail and Forward Messages to Proton
         
    li
        a(href="/blog/self-hosted-retro-gaming-retroassembly-docker-play-steam-deck.html") May 12th 2026 - Self-Hosted Retro Gaming: RetroAssembly via Docker. Play your retro game collection on your Steam Deck
         
    li
        a(href="/blog/cloudflare-security-rule-restrict-by-referer.html") March 1st 2026 - Secure Your API: Restrict Access by Referer with Cloudflare
         
    li
        a(href="/blog/") All blog posts