
.list-group.list-group-flush(id="blog-list")
     
    a.list-group-item.list-group-item-action.list-group-item-dark(href="/blog/personal-files-backup-with-rsync.html")  August 28th 2025 - Personal File Backups with Rsync
         
    a.list-group-item.list-group-item-action.list-group-item-dark(href="/blog/macro-keypad-for-shortcuts-and-automations.html")  August 25th 2025 - Macro Keypad for shortcuts and scripts
         
    a.list-group-item.list-group-item-action.list-group-item-dark(href="/blog/how-to-maximize-cloudflare-security-rules.html")  August 24th 2025 - How to maximize Cloudflare security rules
        