
.list-group
     
    a.list-group-item.list-group-item-action.list-group-item-dark(href="/blog/cloudflare-tunnels")  Dec 31, 2024 - Cloudflare Tunnels
         
    a.list-group-item.list-group-item-action.list-group-item-dark(href="/blog/cloudflare-tunnels copy")  Dec 30, 2024 - This is a blog
        