ul(id="blog-list-recent")
     
    li
        a(href="/blog/building-an-rtmp-camera-with-raspberry-pi-zero-w.html") December 26th 2025 - Building an RTMP Camera with Raspberry Pi Zero W
         
    li
        a(href="/blog/how-to-host-a-game-server-from-your-home-using-playItgg.html") November 2nd 2025 - How to Host a Game Server From Your Home Using PlayIt.gg
         
    li
        a(href="/blog/expose-your-home-server-securely-with-cloudflare-tunnels.html") October 31st 2025 - Expose Your Home Server Securely with Cloudflare Tunnels
         
    li
        a(href="/blog/") All blog posts