ul(id="blog-list")
     
    li
        a(href="/blog/fallback-service-using-cloudflare-workers.html") February 7th 2026 - Automated Failover with Cloudflare Workers
         
    li
        a(href="/blog/piratebox-offline-file-share-hot-spot-device.html") January 6th 2026 - PirateBox: Offline File Share Hot-Spot Device
         
    li
        a(href="/blog/under-the-stairs-my-2026-homelab-tour.html") January 2nd 2026 - Under the Stairs: My 2026 Homelab Tour
         
    li
        a(href="/blog/building-an-rtmp-camera-with-raspberry-pi-zero-w.html") December 26th 2025 - Building an RTMP Camera with Raspberry Pi Zero W
         
    li
        a(href="/blog/how-to-host-a-game-server-from-your-home-using-playItgg.html") November 2nd 2025 - How to Host a Game Server From Your Home Using PlayIt.gg
         
    li
        a(href="/blog/expose-your-home-server-securely-with-cloudflare-tunnels.html") October 31st 2025 - Expose Your Home Server Securely with Cloudflare Tunnels
         
    li
        a(href="/blog/continuous-deployment-made-simple-nodejs-and-github-webhooks.html") September 25th 2025 - Continuous Deployment Made Simple: Node.js + GitHub Webhooks for Automatic Site Updates
         
    li
        a(href="/blog/raspi-streamer-raspberry-pi-streaming-device.html") September 16th 2025 - Raspi-Streamer: A Raspberry Pi streaming device
         
    li
        a(href="/blog/personal-files-backup-with-rsync.html") August 28th 2025 - Personal Files Backups with Rsync
         
    li
        a(href="/blog/macro-keypad-for-shortcuts-and-automations.html") August 25th 2025 - Macro Keypad for shortcuts and scripts
         
    li
        a(href="/blog/how-to-maximize-cloudflare-security-rules.html") August 24th 2025 - How to maximize Cloudflare security rules