
.list-group.list-group-flush(id="blog-list")
     
    a.list-group-item.list-group-item-action.list-group-item-dark(href="/blog/cloudflare-tunnels")  December 31st 2024 - Cloudflare Tunnels
         
    a.list-group-item.list-group-item-action.list-group-item-dark(href="/blog/test-blog-1")  December 20th 2024 - This is a blog
         
    a.list-group-item.list-group-item-action.list-group-item-dark(href="/blog/test-blog-2")  December 27th 2024 - This is a blog 2
        