
.list-group.list-group-flush(id="blog-list")
     
    a.list-group-item.list-group-item-action.list-group-item-dark(href="/blog/how-to-maximize-cloudflare-security-rules")  August 24th 2025 - How to maximize Cloudflare security rules
        