
.list-group.list-group-flush(id="blog-list")
     
    a.list-group-item.list-group-item-action.list-group-item-dark(href="/blog/cloudflare-tunnels")  Dec 31, 2024 - Cloudflare Tunnels
         
    a.list-group-item.list-group-item-action.list-group-item-dark(href="/blog/test-blog-1")  Dec 30, 2024 - This is a blog
         
    a.list-group-item.list-group-item-action.list-group-item-dark(href="/blog/test-blog-2")  Dec 27, 2024 - This is a blog 2
        