footer.pb-5.pt-5
    .container-fluid
        .container.text-center
            .footer-social-media.text-center
                include ./social-media-links.pug
                .container.px-4.mt-2
                    p.small
                        small © #[span#this-year 2025] All Rights Reserved. Made with #[i.fa.fa-heart.vertical-middle.text-danger] by Teklynk

        a.scrollTop.hide(href="#top") Scroll To Top