.row
     
    .col-md-6.col-lg-4.mb-4
        .card.h-100.shadow-sm
            a.hover-zoom(href="/portfolio/saveandraid-website-design-and-custom_cms.html")
                img.card-img-top(src="/assets/images/portfolio-saveandraid-01.jpg" alt="Save&Raid: Website design and custom CMS")
            .card-body
                h5.card-title Save&Raid: Website design and custom CMS
                p.card-text Designed & built a purpose made content management system from the ground up, using PHP, SQLite, and Composer to deliver a robust, scalable solution that meets the event
            .card-footer.d-flex.justify-content-between.align-items-center.h-40px
                a.btn.btn-link.p-0.m-0(href="/portfolio/saveandraid-website-design-and-custom_cms.html", target="_self") Read More
                a.p-0.m-0.fs-4(href="test", target="_blank", title="Check it out on GitHub"): i.fab.fa-github