.row
     
    .col-md-6.col-lg-4.mb-4
        .card.h-100.shadow-sm
            a.hover-zoom(href="/portfolio/quakecon-2025-website-design-static-site-generator.html")
                img.card-img-top(src="/assets/images/portfolio-quakecon-2025-01.jpg" alt="QuakeCon 2025: Website design and static site generator")
            .card-body
                h5.card-title QuakeCon 2025: Website design and static site generator
                p.card-text Designed and built a bespoke SSG using Pug for templating and Vite.js for fast bundling. Event Schedule Integration
            .card-footer.d-flex.justify-content-between.align-items-center.h-40px
                a.btn.btn-link.p-0.m-0(href="/portfolio/quakecon-2025-website-design-static-site-generator.html", target="_self") Read More
                
         
    .col-md-6.col-lg-4.mb-4
        .card.h-100.shadow-sm
            a.hover-zoom(href="/portfolio/saveandraid-website-design-and-custom-cms.html")
                img.card-img-top(src="/assets/images/portfolio-saveandraid-01.jpg" alt="Save&Raid: Website design and custom CMS")
            .card-body
                h5.card-title Save&Raid: Website design and custom CMS
                p.card-text Designed & built a purpose made content management system from the ground up, using PHP, SQLite, and Composer to deliver a robust, scalable solution that meets the event
            .card-footer.d-flex.justify-content-between.align-items-center.h-40px
                a.btn.btn-link.p-0.m-0(href="/portfolio/saveandraid-website-design-and-custom-cms.html", target="_self") Read More