.social-media-icons
    ul.list-inline.list-group-flush
        li.list-inline-item.bg-transparent.p-1
            a(href="https://social.linux.pizza/@teklynk", target="_blank", aria-label="mastodon" rel="me" title="mastodon")
                i.fa-brands.fa-mastodon
        li.list-inline-item.bg-transparent.p-1
            a(href="https://github.com/teklynk", target="_blank", aria-label="github" rel="me" title="github")
                i.fa-brands.fa-github
        li.list-inline-item.bg-transparent.p-1
            a(href="https://owncast.teklynk.com", target="_blank", aria-label="owncast" rel="me" title="owncast")
                i.fa-solid.fa-video
        li.list-inline-item.bg-transparent.p-1
            a(href="https://twitch.tv/teklynk", target="_blank", aria-label="twitch" rel="me" title="twitch")
                i.fa-brands.fa-twitch
        li.list-inline-item.bg-transparent.p-1
            a(href="https://diode.zone/a/teklynk/video-channels", target="_blank", aria-label="peertube" rel="me" title="peertube")
                i.fa-brands.fa-youtube