.social-media-icons
    ul.list-inline.list-group-flush
        li.list-inline-item.bg-transparent.p-1
            a(href="https://social.linux.pizza/@teklynk", target="_blank", aria-label="mastodon" rel="me" title="mastodon")
                i.fa-brands.fa-mastodon
        li.list-inline-item.bg-transparent.p-1
            a(href="https://github.com/teklynk", target="_blank", aria-label="github" rel="me" title="github")
                i.fa-brands.fa-github
        li.list-inline-item.bg-transparent.p-1
            a(href="/rss.xml", target="_blank", aria-label="rss" rel="me" title="rss")
                i.fa-solid.fa-rss