footer {
    background-color: $base-color1;
    color: $base-color-alt2;
    padding-top: 12px;
    padding-bottom: 12px;
    p.small small {
        color: $base-color-alt3-muted;
    }

}

.footer-logo {
    max-width: 160px;
}