nav {
    font-family: $base-font1;
    background-color: $base-color1;
    a.nav-link {
        font-family: $base-font1;
        color: #eee !important;
        &:hover, &:focus, &.active, &.show {
            text-decoration: underline;
        }
    }
    a.dropdown-item {
        &:hover, &:focus, &:active, &.active {
            color: #000 !important;
            background-color: transparent;
            text-decoration: underline;
        }
    }
    a.navbar-brand {
        font-weight: bold;
        text-transform: uppercase;
        color: #eee
    }
}

img.navbar-logo {
    max-width: 180px;
}

.nav {
    &-shadow {
        box-shadow: 0 1px 10px #000;
        transition: all 0.2s ease-in-out;
    }
    &-button {
        background-color: $base-color2;
        color: #eee;
        &:hover, &:focus, &.active {
            background-color: $base-color-alt2;
            color: #eee;
        }
    }
}

.navbar-toggler {
    border-color: #eee;
    color: #eee;
}

.custom-toggler {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-color: #eee;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
