nav {
    font-family: $base-font1;
    background-color: $base-color1;
    a.nav-link {
        font-family: $base-font1;
        font-weight: bold;
        text-transform: uppercase;
        color: #eee !important;
        &:hover, &:focus, &.active, &.show {
            text-decoration: underline;
        }
    }
    a.dropdown-item {
        &:hover, &:focus, &:active, &.active {
            color: #000 !important;
            background-color: transparent;
            text-decoration: underline;
        }
    }
}

img.navbar-logo {
    max-width: 180px;
}

.nav {
    &-shadow {
        box-shadow: 0 1px 10px #000;
        transition: all 0.5s ease-in-out;
    }
    &-button {
        background-color: $base-color2;
        color: #fff;
        &:hover, &:focus, &.active {
            background-color: $base-color-alt2;
            color: #fff;
        }
    }
}

.custom-toggler.navbar-toggler {
    border-color: #fff;
}