$base-color1: #181821;
$base-color-alt1: #a0a1ff;
$base-color2: #181821;
$base-color-alt2: #ddd9e8;
$base-color-alt3: #8c8dff;
$base-color-alt4: #eef0f3;
$base-color-alt5: #1b1f23;
$base-font1: "Basic";
$base-font-size: 14pt;