@import 'variables';
@import 'bootstrap';
@import 'topnav';
@import 'footer';

body {
    font-family: $base-font1;
    height: auto !important;
    background-color: $base-color1;
    font-size: $base-font-size;
}

.hide {
    display: none;
}

img.img-rounded {
    border-radius: 100%;
}

.logo {
    background: url("/assets/images/keyboard_bg.jpeg") top center no-repeat;
    background-size: cover;
}

.logo img.img-rounded {
    border: solid .3em $base-color2;
}

iframe.letterbird-embed {
    border-radius: 0 !important;
    margin-inline: auto !important;
    min-height: unset !important;
    max-width: unset !important;
    min-width: unset !important;
    box-shadow: var(--bs-box-shadow-sm) !important;
}

.form-control {
    border-color: $base-color3 !important;
    background-color: #1b1f23 !important;
    color: $base-color-alt2 !important;
}

.form-control::placeholder {
    color: $base-color-alt2-muted !important;
}

.form-control:focus {
    border-color: $base-color-alt3 !important;
}

main {
    a, a.list-group-item, a.list-group-item-action {
        text-decoration: none !important;
        color: $base-color-alt3 !important;
        &:hover, &:focus {
            text-decoration: underline !important;
            color: $base-color-alt1 !important;
        }
    }
    h1, h2, h3, h4 {
        font-weight: $base-font-weight;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
    .figure-caption {
        color: $base-color-alt2-muted;
    }
}

.home {
    min-height: 600px;
    background: $base-color2;
    color: $base-color-alt2;
    padding-bottom: 24px;
}

.social-media-icons, .footer-links {
    ul {
        margin: 0;
    }
    li {
        background-color: transparent;
        border: 0;
        border-radius: 0;
    }
    i {
        color: $base-color-alt2;
    }
}

h1.underline, h2.underline {
    border-bottom: solid 1px $base-color3;
    padding-bottom: 12px;
}

.scrollTop {
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border: 0;
    text-indent: -999px;
    background: url("/assets/images/ui.totop.png") no-repeat left top;
}

pre[class*=language-] {
    background: $base-color-alt5 !important;
    font-size: $base-font-size;
    font-family: $base-font1;
}