@import 'variables';
@import 'bootstrap';
@import 'topnav';
@import 'footer';

body {
    font-family: $base-font1;
    height: auto !important;
    background-color: $base-color1;
    font-size: $base-font-size;
}

.hide {
    display: none;
}

.base-color2-bg {
    background-color: $base-color2;
}

.base-color1-text {
    color: $base-color1;
}

img.img-rounded {
    border-radius: 100%;
}

.logo {
    background: url("/assets/images/keyboard_bg.jpeg") top center no-repeat;
    background-size: cover;
}

.logo img.img-rounded {
    border: solid .3em $base-color2;
}

main {
    a, p, li, h1, h2, h3 {
        font-family: $base-font1;
    }
    p, a, li {
        font-size: inherit;
    }
    a, a.list-group-item, a.list-group-item-action {
        text-decoration: none !important;
        color: $base-color-alt3 !important;
        &:hover, &:focus {
            text-decoration: underline !important;
            color: $base-color-alt1 !important;
        }
    }
    h1, h2, h3 {
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
}

.home {
    min-height: 600px;
    background: $base-color2;
    color: $base-color-alt2;
    padding-bottom: 24px;
}

iframe {
    max-width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    &.staff-form {
        width: 100%;
        height: 3500px;
        border: none;
        overflow: hidden;
    }
    &.general-inquiry-form {
        width: 100%;
        height: 1000px;
        border: none;
        overflow: hidden;
    }
}

.social-media-icons, .footer-links {
    ul {
        margin: 0;
    }
    li {
        background-color: transparent;
        border: 0;
        border-radius: 0;
    }
    i {
        color: $base-color-alt2;
    }
}

img.discord-logo {
    max-width: 250px;
}

.list-group-item-dark {
    color: $base-color-alt2;
    background-color: transparent;
}

.list-group-item-dark.list-group-item-action:hover, .list-group-item-dark.list-group-item-action:focus {
    color: $base-color-alt2;
    background-color: $base-color1;
}

h1.underline, h2.underline {
    border-bottom: solid 1px #343a40;
    padding-bottom: 12px;
}

.scrollTop {
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border: 0;
    text-indent: -999px;
    background: url("/assets/images/ui.totop.png") no-repeat left top;
}