extends ../../layout/blog-layout.pug

block title
    - var date = ""
    - var title = "Blogs"
    - var description = "Web Developer | Full Stack Developer | Linux user | Crafting innovative solutions through web development and hands-on tinkering."
    - var thumbnail = ""
    - var pageUrl = "https://www.teklynk.com/blog/"
    - var gitHubUrl = ""
    | Teklynk - Blog

block content
    p Tutorials, experiments, and side-projects I enjoy tinkering with in my free time.
    include ../../includes/blog-search.pug
    include ../../includes/blog-index.pug

block recent_blogs