extends ../../layout/blog-layout.pug

block nav

block title
    - var date = "2024-12-27"
    - var title = "This is a blog 2"
    - var description = "This is a blog 2"
    | Teklynk - #{title}

block content
    p This is a blog