extends ../../layout/blog-layout.pug

block nav

block title
    - var date = "2024-12-20"
    - var title = "This is a blog"
    - var description = "This is a blog 1"
    - var draft = "true"
    | Teklynk - #{title}

block content
    p This is a blog asdfasdf