extends ../layout/page-layout.pug

block nav

block title
    - var date = ""
    - var title = "About"
    - var description = "Web Developer | Full Stack Developer | Linux user | Crafting innovative solutions through web development and hands-on tinkering."
    | Teklynk - About

block content
    include ../includes/about.pug