extends ../layout/page-layout.pug

block nav

block title
    - var date = ""
    - var title = "About"
    - var description = "Passionate about crafting innovative solutions through web development, programming, and hands-on tinkering"
    | Teklynk - About

block content
    p Linux user, Developer, Programmer, Tinkerer. Passionate about crafting innovative solutions through web development, programming, and hands-on tinkering. Check out my socials here: #[a(href="https://socials.teklynk.com/", target="_blank") socials.teklynk.com]
    h2 About this site 
    p This site is built with #[a(href="https://pugjs.org/api/getting-started.html", target="_blank") Pug] and #[a(href="https://vitejs.dev/", target="_blank") Vite], brought together by the #[a(href="https://www.npmjs.com/package/vite-plugin-pug-i18n", target="_blank") vite-plugin-pug-i18n] npm plugin. It's hosted for free on #[a(href="https://pages.cloudflare.com/", target="_blank") Cloudflare Pages], which automatically builds and deploys the site whenever I push changes to #[a(href="https://github.com/teklynk/teklynk-pug", target="_blank") GitHub].