extends ../layout/home-layout.pug

block title
    - var date = ""
    - var title = ""
    - var description = "Web Developer | Full Stack Developer | Linux user | Crafting innovative solutions through web development and hands-on tinkering."
    - var thumbnail = ""
    - var pageUrl = "https://www.teklynk.com"
    | Teklynk - Home

block content

    h1.underline Hi there, I'm Ryan
    p Full-stack tinkerer building interactive tools, websites and web applications. Specializing in PHP, JavaScript/Node.js, APIs and Python. Over 15 years of experience designing, building, and scaling web applications for enterprise, government, and e-commerce environments.
    h2.underline What I'm working on
    ul 
        li #[a(href="https://github.com/teklynk/piratebox", target="_blank") PirateBox] - Inspired by the discontinued #[a(href="https://en.wikipedia.org/wiki/PirateBox", target="_blank") PirateBox project], this lightweight implementation uses Nginx, PHP, dnsmasq, and hostapd without requiring a database. It functions as a "captive portal" similar to public Wi-Fi login pages found in hotels or libraries, but instead of requesting credentials, it immediately serves the file-sharing page.
        li #[a(href="https://github.com/teklynk/notes", target="_blank") notes] - A simple, self-hosted, encrypted notes application built with Python, Flask, SQLite, Docker.
        li #[a(href="https://github.com/teklynk/pastebin", target="_blank") pastebin] - Simple Python pastebin solution. Python, Flask, SQLite, Docker.
        li #[a(href="https://github.com/teklynk/raspi-streamer", target="_blank") raspi-streamer] - Capture and stream to any RTMP endpoint using a Raspberry Pi, Python, Flask
        li #[a(href="https://github.com/teklynk/hotkey_listener", target="_blank") hotkey_listener] - Python Script-based Hotkey Listener with JSON Configuration and Executable Script or Macro Support
        li #[a(href="https://saveandraid.org", target="_blank") SaveAndRaid.org] - Designed &amp; built a purpose-made content management system from the ground up, using PHP, SQLite, and Composer to deliver a robust, scalable solution that meets the event's unique requirements.
    p I frequently contribute scripts and utilities to my GitHub Gist. You might find something useful there: #[a(href="https://gist.github.com/teklynk", target="_blank") https://gist.github.com/teklynk]
    h2.underline Popular projects that I work on
    ul 
        li #[a(href="https://github.com/teklynk/twitch_clips_player", target="_blank") twitch_clips_player] - Twitch OBS overlay for auto-playing Twitch clips via chat commands.
        li #[a(href="https://github.com/teklynk/twitch_shoutout", target="_blank") twitch_shoutout] - Twitch !so command delivering random clips and personalized shout-outs.
        li #[a(href="https://github.com/teklynk/twitch_chat_emotes", target="_blank") twitch_chat_emotes] - Twitch Real-time animated emote overlay with customizable effects.
        li #[a(href="https://github.com/teklynk/twitch_api_public", target="_blank") twitch_api_public] - Simple PHP Twitch API Gateway that only requires the user/channel name to return data.
        li #[a(href="https://github.com/teklynk/twitch_chat_alerts", target="_blank") twitch_chat_alerts] - Twitch chat alerts overlay. Supports chat commands, sound alerts, video alerts, gifs, shout-outs, random chat messages.
        li #[a(href="https://github.com/teklynk/twitch-chat-overlay-starter", target="_blank") twitch-chat-overlay-starter] - Twitch chat overlay using TMI.js. Basics needed for creating your own custom chat overlay.
        li #[a(href="https://github.com/teklynk/elements", target="_blank") elements] - Twitch Web UI for creating OBS overlays - Laravel, PHP, MySQL.
    h2.underline What I'm learning
    ul 
        li n8n.io
        li Python and Flask
        li Laravel and Filament (admin panel)
        li Vue.js
        li Bash scripting for workflow automation
        li Studying for Linux certifications
    h2.underline My skills
    ul.list-inline
        - var skills = ['HTML', 'CSS', 'JavaScript', 'PHP', 'Wordpress', 'Vue.js', 'Node.js', 'NGINX', 'Git', 'Bootstrap', 'SCSS', 'MySQL', 'Postgres', 'SQLite', 'Linux', 'Python', 'Typescript', 'Bash', 'Laravel', 'Docker', 'Apache', 'ProxMox', 'Cloudflare', 'AWS', 'Oracle Cloud', 'Vite']
        each skill in skills.sort()
            li.list-inline-item.badge.bg-secondary.shadow-sm.p-2.m-1.fs-6= skill
    h2.underline About this site 
    p This site is built with #[a(href="https://pugjs.org/api/getting-started.html", target="_blank") Pug] and #[a(href="https://vitejs.dev/", target="_blank") Vite], brought together by the #[a(href="https://www.npmjs.com/package/vite-plugin-pug-i18n", target="_blank") vite-plugin-pug-i18n] npm plugin. It's hosted for free on #[a(href="https://pages.cloudflare.com/", target="_blank") Cloudflare Pages], which automatically builds and deploys the site whenever I push changes to #[a(href="https://github.com/teklynk/teklynk-pug", target="_blank") GitHub].

    h2.underline Recent blogs
    include ../includes/blog-recent.pug