extends ../layout/page-layout.pug

block nav

block title
    - var date = ""
    - var title = ""
    - var description = ""
    | Teklynk - Home

block content
    
    h1 About
    p Linux user, Developer, Programmer, Tinkerer. Passionate about crafting innovative solutions through web development, programming, and hands-on tinkering.

    h2 Recent Blogs
    include ../includes/blog-recent.pug