extends ../layout/page-layout.pug

block nav

block title
    - var date = ""
    - var title = ""
    - var description = ""
    | Teklynk - #{title}

block content
    .text-center
        img.img-fluid.img-rounded(src="/assets/images/teklynk-profile.jpg")
        h1.text-center.text-uppercase Teklynk