extends ../layout/home-layout.pug

block title
    - var date = ""
    - var title = ""
    - var description = "Web Developer | Full Stack Developer | Linux user | Crafting innovative solutions through web development and hands-on tinkering."
    - var thumbnail = ""
    - var pageUrl = "https://www.teklynk.com"
    | Teklynk - Home

block content

    include ../includes/about.pug

    h2.underline Recent Blogs
    include ../includes/blog-recent.pug