extends ../layout/page-layout.pug

block nav

block title
    - var date = ""
    - var title = ""
    | Teklynk - Home

block content
    .container.pb-5.pt-5.text-center
        img.img-fluid.img-rounded(src="/assets/images/teklynk-profile.jpg")
        h1.text-center.text-uppercase Teklynk