extends ../layout/page-layout.pug

block nav

block title
    - var date = ""
    - var title = ""
    - var description = "Web Developer | Full Stack Developer | Linux user | Crafting innovative solutions through web development and hands-on tinkering."
    | Teklynk - Home

block content
    .logo.text-center.p-4.pb-0 
        img.img-rounded.img-fluid.shadow-sm(src="/assets/images/profile_crop_400x400.jpg", alt="Teklynk logo")

    include ../includes/about.pug

    h2 🖋️ Recent Blogs
    include ../includes/blog-recent.pug