extends ../../layout/blog-layout.pug

block nav

block title
    - var date = "2024-12-31"
    - var title = "Cloudflare Tunnels"
    - var description = "Cloudflare Tunnels"
    | Teklynk - #{title}

block content
    p Cloudflare Tunnels is a tool that allows you to expose your locally hosted web server or application to the internet through Cloudflare's global network. This can be useful for a variety of purposes, such as testing a website on a local development environment, or securely accessing a private application that is not publicly accessible.
    p To use Cloudflare Tunnels, you need to install the Cloudflare daemon on your local machine, which creates a secure connection between your machine and the Cloudflare network. Once the daemon is installed, you can create a tunnel that maps a local port on your machine to a publicly accessible domain name on the Cloudflare network.
    p For example, if you have a web server running on port 8080 on your local machine, you can create a Cloudflare Tunnel that maps that port to a domain name like example.com. Once the tunnel is created, anyone can access your web server by visiting example.com, and the traffic will be securely routed through the Cloudflare network to your local machine.
    p Cloudflare Tunnels also provides additional security features, such as rate limiting and firewall rules, to help protect your application from malicious traffic. It also includes a dashboard where you can monitor traffic and manage your tunnels.
    p Overall, Cloudflare Tunnels is a powerful tool for exposing local applications to the internet securely and reliably.

    a(href="#") test &amp; testing again

    div
        :markdown-it(linkify langPrefix='language-')
            ## This is markdown 

            paragraph in markdown 

            code block in markdown

            ```css
            color: #990000;
            position: relative;
            ```
    div
        pre.line-numbers
            code.language-javascript.
                import Test from 'test';
                g-date(:datetime="new Date()")

    div
        pre.line-numbers
            code.language-json.
                {
                    "data": [
                        {
                        "id": "65166956",
                        "login": "teklynk",
                        "display_name": "Teklynk",
                        "type": "",
                        "broadcaster_type": "",
                        "description": "Linux enthusiast. Streaming and gaming on Linux. Web Developer, Programmer, Tinkerer. Check out my projects in the profile. ",
                        "profile_image_url": "https://static-cdn.jtvnw.net/jtv_user_pictures/24c58b79-60c9-4100-96ca-52b93c7ab177-profile_image-300x300.png",
                        "offline_image_url": "https://static-cdn.jtvnw.net/jtv_user_pictures/f1d30850-8e4e-4013-8f4c-a10f63f87ce7-channel_offline_image-1920x1080.jpeg",
                        "view_count": 0,
                        "created_at": "2014-06-27T11:30:10Z"
                        }
                    ]
                }

    div
        pre.line-numbers
            code.language-css.
                a {
                    color: #7871ff !important;
                }
                a:hover {
                    color: #eeeeee !important;
                }
                h3 {
                    text-shadow: 0.5px 0.5px #000000;
                }
                table, td, thead {
                    border: none !important;
                    background-color: transparent !important;
                }
                #logo-container {
                    background-size: 2.0em;
                    background-image: url('/logo');
                }
                #top-content span.instance-title {
                    text-shadow: 0.5px 0.5px #000000;
                    font-weight: 400;
                }
                span.streamer-name {
                    color: #fff !important;
                    text-shadow: 0.5px 0.5px #000000;
                }
                .tab-bar [role='tab'][aria-selected='true'] {
                    color: #fff !important;
                }
                #username-display {
                    color: #eeeeee;
                    letter-spacing: .5pt;
                }
                #social-list {
                    background-color: #303540;
                    padding: 10px;
                    border-radius: 10px;
                }
                .user-content-header {
                    border-color: #333333;
                }
                header {
                    background-color: #16191f;
                    border-bottom: solid 1px #333333;
                }
                #chat-toggle {
                    background-color: #16191f;
                }
                #messages-only header {
                    background-color: #1c1a3b;
                    border-bottom: solid 1px #333333;
                }
                #app {
                    background-color: #1f232b;
                    color: #e1eaf1;
                }
                .following-list-follower {
                    background: #303540;
                    border: none;
                    color: white !important;
                }
                .following-list-follower p:first-child {
                    color: #fff;
                }
                #stream-info {
                    background-color: #000000;
                    border-bottom: solid 1px #333333;
                }
                .tab-bar [role="tab"][aria-selected="true"] {
                    background-color: #303540;
                }
                #chat-container {
                    background-color: #303540;
                }
                #message-input-container {
                    background-color: #16191f;
                    border-top: solid 1px #333333;
                }
                /*.message-user-joined {
                    display: none;
                }
                .message-name-change {
                    display: none;
                }*/
