extends ../../layout/portfolio-layout.pug

block title
    - var date = ""
    - var title = "Portfolio"
    - var description = "Web Developer | Full Stack Developer | Linux user | Crafting innovative solutions through web development and hands-on tinkering."
    - var thumbnail = ""
    - var pageUrl = "https://www.teklynk.com/portfolio/"
    - var gitHubUrl = ""
    | Teklynk - Portfolio

block content
    include ../../includes/portfolio-index.pug
