extends ../../layout/portfolio-layout.pug

block title
    - var date = ""
    - var title = "Portfolio"
    - var description = "Web Developer | Full Stack Developer | Linux user | Crafting innovative solutions through web development and hands-on tinkering."
    - var thumbnail = ""
    - var pageUrl = "https://www.teklynk.com/portfolio/"
    - var gitHubUrl = ""
    - var skills = []
    | Teklynk - Portfolio

block content

    p Below is a collection of projects I've worked on over the years. You can find even more projects on my #[a(href="https://github.com/teklynk", target="_blank") GitHub].
    
    include ../../includes/portfolio-index.pug
