extends ../../layout/portfolio-layout.pug

block title
    - var date = "2026-01-16"
    - var title = "QuakeCon 2025: Website design and static site generator"
    - var description = "Designed and built a bespoke SSG using Pug for templating and Vite.js for fast bundling. Event Schedule Integration"
    - var thumbnail = "/assets/images/portfolio-quakecon-2025-01.jpg"
    - var pageUrl = "https://www.teklynk.com/portfolio/quakecon-2025-website-design-static-site-generator"
    - var gitHubUrl = ""
    | Teklynk - #{title}

block content
    