extends ../../layout/portfolio-layout.pug

block title
    - var date = "2026-01-16"
    - var title = "Raspi-Streamer: Raspberry Pi Streaming and Recording Setup"
    - var description = "A standalone streaming appliance built with Raspberry Pi, Python, and FFMPEG. Features a Web UI for control and RTMP streaming."
    - var thumbnail = "/assets/images/portfolio/raspi-streamer_rpi_1.jpg"
    - var pageUrl = "https://www.teklynk.com/portfolio/raspi-streamer-raspberry-pi-streaming-device.pug"
    - var gitHubUrl = "https://github.com/teklynk/raspi-streamer"
    - var skills = ['Python', 'Flask', 'Javascript', 'Bash', 'FFMPEG', 'Linux', 'Raspberry Pi']
    | Teklynk - #{title}

block content
    ul.list-inline
        each skill in skills.sort()
            li.list-inline-item.badge.bg-secondary.shadow-sm.p-2.m-1.fs-6= skill
    
    p Raspi-Streamer is a comprehensive streaming solution that turns a Raspberry Pi into a standalone broadcasting device. It enables seamless RTMP streaming to platforms like Twitch, YouTube, and Owncast using a USB capture card for HDMI input. The system includes a responsive Web UI built with Flask, allowing users to control streams, manage recordings, and configure settings remotely from any browser. Comparable to professional broadcasting hardware, it offers features like audio synchronization with ALSA, automated service management, and network file access via Samba, making it an ideal, cost-effective tool for live events, gameplay, and conferences.
    .row
        .col-lg-4.col-md-12.mb-4.mb-lg-0
            img.w-100.shadow-1-strong.mb-4(src="/assets/images/portfolio/raspi-streamer_rpi_1.jpg", alt="")
            img.w-100.shadow-1-strong.mb-4(src="/assets/images/portfolio/raspi-streamer-setup-800w.jpg", alt="")
        .col-lg-4.mb-4.mb-lg-0
            img.w-100.shadow-1-strong.mb-4(src="/assets/images/portfolio/Screenshot from 2026-01-20 13-45-30.jpg", alt="")
            img.w-100.shadow-1-strong.mb-4(src="/assets/images/portfolio/Screenshot from 2026-01-20 13-45-51.jpg", alt="")
        .col-lg-4.mb-4.mb-lg-0
            img.w-100.shadow-1-strong.mb-4(src="/assets/images/portfolio/Screenshot from 2026-01-20 13-46-10.jpg", alt="")
            img.w-100.shadow-1-strong.mb-4(src="/assets/images/portfolio/Screenshot from 2026-01-20 13-46-33.jpg", alt="")