extends ../../layout/portfolio-layout.pug

block title
    - var date = "2026-01-16"
    - var title = "Save&Raid: Website design and custom CMS"
    - var description = "Designed & built a purpose made content management system from the ground up, using PHP, SQLite, and Composer to deliver a robust, scalable solution that meets the event's unique workflow"
    - var thumbnail = "/assets/images/portfolio-saveandraid-01.jpg"
    - var pageUrl = "https://www.teklynk.com/portfolio/saveandraid-website-design-and-custom-cms"
    - var gitHubUrl = ""
    | Teklynk - #{title}

block content
    