doctype html
html(lang='en-us')
    head
        include ../includes/meta.pug
    body
        block nav
            - var page = "blogs"
        block header
            include ../includes/header.pug
        main#main(role="main")
            block main_container
            .home
                .container.pb-3.pt-3
                    if title
                        h1 #{title}
                    if date
                        p.small
                            small.d-block.mb-2.underline.muted Published on #{moment(date)}
                    block content

                    block recent_blogs
                        div#blog-recent-container
                            h2.underline 🖋️ Recent Blogs
                            include ../includes/blog-recent.pug 
        block footer
            include ../includes/footer.pug
        block script
            script(type='module', src='@/main.js')