doctype html
html(lang='en-us')
    head
        meta(charset='UTF-8')
        link(rel='icon', href='/assets/icons/favicon.ico')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title
            block title
                | Teklynk
        meta(name='description', content=description)
        link(rel="canonical", href="https://www.teklynk.com")
        meta(property="og:locale" content="en_US")
        meta(property="og:type", content="website")
        meta(property="og:title" content=title)
        meta(property="og:url", content="https://www.teklynk.com")
        meta(property="og:description", content=description)
        meta(property="og:image", content="https://www.teklynk.com/assets/images/teklynk-profile.jpg")

        script(async src='https://www.googletagmanager.com/gtag/js?id=G-L42SPTKNC0')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
        
            gtag('config', 'G-L42SPTKNC0');
    body
        block nav
            - var page = "home"
        block header
            include ../includes/header.pug
        main#main(role="main")
            block main_container
            .home
                .logo.text-center.p-4 
                    img.img-rounded.img-fluid.shadow-sm(src="/assets/images/profile_crop_400x400.jpg", alt="Teklynk logo")
                .container.pb-3.pt-3
                    if title
                        h1.underline #{title}
                    block content
        block footer
            include ../includes/footer.pug
        block script
            script(type='module', src='@/main.js')