doctype html
html(lang='en-us')
    head
        include ../includes/meta.pug
    body
        block nav
            - var page = "portfolio"
        block header
            include ../includes/header.pug
        main#main(role="main")
            block main_container
            .home
                .container.pb-3.pt-3
                    if title
                        h1.underline #{title}
                    if (skills && skills.length > 0) || gitHubUrl
                        .d-flex.justify-content-between.align-items-center.flex-wrap
                            if skills && skills.length > 0
                                ul.list-inline
                                    each skill in skills.sort()
                                        li.list-inline-item.badge.bg-secondary.shadow-sm.p-2.m-1.fs-6= skill
                            if gitHubUrl
                                p.p-0.m-0.mb-4.fs-4: a(href=gitHubUrl, target="_blank", title="Check it out on GitHub"): i.fab.fa-github
                    block content

        block footer
            include ../includes/footer.pug
        block script
            script(type='module', src='@/main.js')