doctype html
html(lang='en-us')
    head
        include ../includes/meta.pug
    body
        block nav
            - var page = "portfolio"
        block header
            include ../includes/header.pug
        main#main(role="main")
            block main_container
            .home
                .container.pb-3.pt-3
                    if title
                        h1.underline #{title}
                    if gitHubUrl
                        .d-flex.justify-content-between.align-items-center.flex-wrap.mb-4
                            if gitHubUrl
                                p.p-0.m-0.fs-4: a(href=gitHubUrl, target="_blank", title="Check it out on GitHub"): i.fab.fa-github
                    block content

        block footer
            include ../includes/footer.pug
        block script
            script(type='module', src='@/main.js')